@import '../../styles/shared/colors';

.userMenu {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.link {
  color: color('secondary');
  text-decoration: none;
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover,
  &:focus {
    color: color('accent');
  }
}

.active {
  @extend .link;
  color: color('accent');
}
